extends layout
block content
    script(src='/plugins/sortable.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/midiassociais.js')
    script(src='/javascripts/requestsServer.js')
    script(src='/javascripts/config.js')

    div#container

    div#tabelaDetalhada
        div#h3T
            h3 Configurações do Provedor

        form(action='/configuracoes',method='post')

            div#provider
                table(id='tabelaprovider')
                    th
                        td 
                            label(for='cloud') Cloud:
                        td
                            select(name='cloud' )
                                option(value='aws', selected='aws') AWS - Amazon

            div#h3T
                h3 Cluster
            div#Input

                table(id='tabelaInputs')
                    tr
                        th
                            td 
                                label(for='frameworh') Framework:
                            td
                                select(name='framework' )
                                    option(value='framework', selected='framework') Apache Hadoop

                            td 
                                label(for='localizao') Localização:
                            td
                                select(name='localizacao' )
                                    option(value='ap-northeast-1' selected=('#{resposta.localizacao}'==='ap-northeast-1' ? "selected" : undefined)) Singapore
                                    option(value='ap-southeast-1' selected=('#{resposta.localizacao}'==='ap-southeast-1' ? "selected" : undefined)) Tokyo
                                    option(value='ap-southeast-2' selected=('#{resposta.localizacao}'==='ap-southeast-2' ? "selected" : undefined)) Sydney
                                    option(value='DEFAULT' selected=('#{resposta.localizacao}'==='DEFAULT' ? "selected" : undefined))  DEFAULT
                                    option(value='EU' selected=('#{resposta.localizacao}'==='EU' ? "selected" : undefined))  Frankfurt
                                    option(value='sa-east-1' selected=('#{resposta.localizacao}'==='sa-east-1' ? "selected" : undefined)) São Paulo
                                    option(value='us-west-1' selected=('#{resposta.localizacao}'==='us-west-1' ? "selected" : undefined))  N. California

                            td 
                                label(for='slaveInstance') Inst. Slave:
                            td
                                select(name='slaveInstance' )
                                    option(value='m1.small',  selected=('#{resposta.slaveInstance}'==='m1.small' ? "selected" : undefined)) m1.small
                                    option(value='m1.medium' selected=('#{resposta.slaveInstance}'==='m1.medium' ? "selected" : undefined)) m1.medium
                                    option(value='m1.large' selected=('#{resposta.slaveInstance}'==='m1.large' ? "selected" : undefined)) m1.large
                                    option(value='m1.xlarge' selected=('#{resposta.slaveInstance}'==='m1.xlarge' ? "selected" : undefined)) m1.xlarge
                                    option(value='m3.xlarge' selected=('#{resposta.slaveInstance}'==='m3.xlarge' ? "selected" : undefined)) m3.xlarge
                                    option(value='m3.2xlarge' selected=('#{resposta.slaveInstance}'==='m3.2xlargee' ? "selected" : undefined)) m3.2xlarge
                                    option(value='c1.medium' selected=('#{resposta.slaveInstance}'==='c1.medium' ? "selected" : undefined)) c1.medium (hardware otimizado)
                                    option(value='c1.xlarge' selected=('#{resposta.slaveInstance}'==='c1.xlarge' ? "selected" : undefined)) c1.xlarge (hardware otimizado)
                                    option(value='m2.xlarge' selected=('#{resposta.slaveInstance}'==='m2.xlarge' ? "selected" : undefined)) m2.xlarge (memória otimizada)
                                    option(value='m2.2xlarge' selected=('#{resposta.slaveInstance}'==='m2.2xlarge' ? "selected" : undefined)) m2.2xlarge (memória otimizada)
                                    option(value='m2.4xlarge' selected=('#{resposta.slaveInstance}'==='m2.4xlarge' ? "selected" : undefined)) m2.4xlarge (memória otimizada)

                    tr
                        th
                            td 
                                label(for='cloud') Armazenamento:
                            td
                                select(name='armazenamento' )
                                    option(value='Amazon S3', selected='Amazon S3') Amazon S3

                            td 
                                label(for='masterInstance') Inst. Master:
                            td
                                select(name='masterInstance' )
                                    option(value='m1.small',  selected=('#{resposta.masterInstance}'==='m1.small' ? "selected" : undefined)) m1.small
                                    option(value='m1.medium' selected=('#{resposta.masterInstance}'==='m1.medium' ? "selected" : undefined)) m1.medium
                                    option(value='m1.large' selected=('#{resposta.masterInstance}'==='m1.large' ? "selected" : undefined)) m1.large
                                    option(value='m1.xlarge' selected=('#{resposta.masterInstance}'==='m1.xlarge' ? "selected" : undefined)) m1.xlarge
                                    option(value='m3.xlarge' selected=('#{resposta.masterInstance}'==='m3.xlarge' ? "selected" : undefined)) m3.xlarge
                                    option(value='m3.2xlarge' selected=('#{resposta.masterInstance}'==='m3.2xlargee' ? "selected" : undefined)) m3.2xlarge
                                    option(value='c1.medium' selected=('#{resposta.masterInstance}'==='c1.medium' ? "selected" : undefined)) c1.medium (hardware otimizado)
                                    option(value='c1.xlarge' selected=('#{resposta.masterInstance}'==='c1.xlarge' ? "selected" : undefined)) c1.xlarge (hardware otimizado)
                                    option(value='m2.xlarge' selected=('#{resposta.masterInstance}'==='m2.xlarge' ? "selected" : undefined)) m2.xlarge (memória otimizada)
                                    option(value='m2.2xlarge' selected=('#{resposta.masterInstance}'==='m2.2xlarge' ? "selected" : undefined)) m2.2xlarge (memória otimizada)
                                    option(value='m2.4xlarge' selected=('#{resposta.masterInstance}'==='m2.4xlarge' ? "selected" : undefined)) m2.4xlarge (memória otimizada)

            div#h3T
                h3 MapReduce

            div#Input2
                table(id='tabelaInputs')
                    tr
                        th
                                td 
                                    label(for='nInstancia') Nº Instância:
                                td 
                                    input(id='nInstancia',type='text',value='#{resposta.nInstancia}',placeholder='1',name='nInstancia')

                                td 
                                    label(for='agendador') Agendador:
                                td(id ='coluna')
                                    input(id='agendador',type='text',value='#{resposta.agendador.minutos} #{resposta.agendador.horas} #{resposta.agendador.diaMes} #{resposta.agendador.diaSemana} #{resposta.agendador.mes}',placeholder='* * * * *',name='agendador')
                                    p Padrão Crontab Linux


            div#h4T
                h3 Scripts

            div#Input2
                 div#bordaTabela
                    table.sortable#myTable.table.table-hover
                        thead
                            tr
                                th.capitalize Nome

                                th.capitalize Tipo
                                
                                th.capitalize Executado em

                                th.capitalize Status
                                
                                th.capitalize Executar Agora

                        tbody
                            each dado in resposta.scripts
                                tr
                                   
                                    th.capitalize #{dado.name}

                                    th.capitalize #{dado.type}
                                    
                                    th.capitalize #{dado.data}

                                    th.capitalize #{dado.status}
                                    
                                    th
                                        input(type='image', src='/images/executar2.png', onclick="execurar_emr(' #{dado.name}')")

            div#Input3
                table(id='tabelaInputs')
                    tr
                        th
                            td
                                input(type='image', src='/images/add3.png', alt='WWSubmit Form')
                   