extends layout
block content
    script(src='/plugins/sortable.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/estudantes.js')
    script(src='/javascripts/requestsServer.js')

    - var chave;
    div#container

        div#tabelaDetalhada
            h3 Tweets de estudantes e possíveis:
            form(action='/findestudantes',method='post')
                div#tabelaFormEstudantes
                    table(id='tabelaFormEstudante')
                        th
                          td
                                select(name='status' )
                                    option(value='student', selected=('#{selected}'==='student' ? "selected" : undefined)) Estudantes
                                    option(value='possible', selected=('#{selected}'==='possible' ? "selected" : undefined)) Possíveis estudantes
                            td
                                input(type='image', src='/images/pesquisar.png' alt='WWSubmit Form')

            div#bordaTabela
                table.sortable#myTableStudante.table.table-hover
                    thead
                        tr
                            td
                            each campo in campos
                               
                                th.capitalize #{campo}
                            th Visualizar

                            th Add BlackList

                            td
                    tbody
                        - var count = 1
                        each dado in resultado
                            tr
                                
                                td  #{count}
                                th.values #{dado.status}
                            
                                th.values @#{dado.usuario}
                                
                              
                                th.values #{dado.location}
                             
                                th.values #{dado.total}

                                th
                                    input(type='image', src='/images/add2.png', onclick="visualizarEstudantes('#{dado.usuario}')")

                                th
                                    input(type='image', src='/images/apagar.png', onclick="insereBlackList('#{dado.usuario}')")

                            - count++