extends layout
block content
	script(src='/plugins/sortable.js')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/javascripts/midiassociais.js')
	script(src='/javascripts/requestsServer.js')
	

	- var count;
	div#container

		div#tabelaDetalhada
			h3 Palavras para buscar nas mídias sociais:
			form(action='/salvarpesquisamidia',method='post')
				div#tabela
					table(id='tabelaForm')
						th
							td 
								label(for='keysWords') Tags:
							td 
								input(id='tags',type='text',value='',placeholder='#',name='keysWords')
							td
								label(for='midia') Mídia:
							td
								select(name='midia' )
									option(value='twitter', selected='Twitter') Twitter
							td 
								label(for='language') Linguagem:
							td
								select(name='language' )
									option(value='pt', selected='pt-br') PT-BR
									option(value='en',) EN-US
							td
								input(type='image', src='/images/add.png' alt='WWSubmit Form')
	
			div#bordaTabela
				table.sortable#myTable.table.table-hover
					thead
						tr
							
							each campo in campos
								td
								th.capitalize #{campo}
							th Excluir

							td
					tbody
						each dado in resultado
							tr
								td
								th.values  #{dado.palavra}
								td 
								th.values #{dado.media}
								td 
								th.values #{dado.linguagem}
								td
								th.values #{dado.ultimaAtualizacao}

								td
									input(type='image', src='/images/apagar.png', onclick="excluirPalavra('#{dado.palavra}')")
						- count++
	
			
