extends layout
block content
    script(src='/plugins/sortable.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/estudantes.js')
    script(src='/javascripts/requestsServer.js')

    - var chave;
    div#container

        div#tabelaDetalhada
            h3 Usuário:  @#{user}
            
            div#tabelaDetalhada

                div#tabela
                    table(id='tabelaForm')
                        th
                            td
                                    input(type='image',src='/images/voltar.png' onclick="reload()")

                            td
                              
                                    input(type='image', src='/images/perfil.png')
                            td
                                    input(type='image', src='/images/backlist.png' onclick="insereBlackList('#{user}')")
            

            div#bordaTabela
                table.sortable#myTableEstudante.table.table-hover
                    thead
                        tr
                            td 
                            th Tweet
                            td
                            th Data Postagem

                    tbody
                        - var count = 1
                        each dado in resultado
                            tr
                                td  #{count}
                                th.values  #{dado.text}
                                td 
                                th.values #{dado.created_at}

                            - count++